<div class="container bg-light">
  <h2>Details of book</h2>
  <label for="title"></label>
  <input type="text" id="title" value="{{book.title}}">
  <label for="">description</label>
  <textarea name="" id="" cols="30" rows="10">
    {{book.description}}
  </textarea>
  <label for="">Unit Cost</label>
  <input type="text" value="{{book.unitCost}}">
  <label for="">Number of pages</label>
  <input type="number" value="{{book.numberOfPages}}">
  <label for="">Language</label>
  <input type="number" value="{{book.language}}">


</div>
